.calculator {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .calculatorBody {
    width: 100%;
    max-width: 600px;
    position: fixed;
    bottom: 0;
  }
  @media (min-height: 800px) and (min-width: 600px) {
    .calculatorBody {
      width: 600px;
      left: calc(50% - 300px);
      bottom: 24px;
    }
  }
}