@use '../../../assets/styles/colors';

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:12px;
  font-size: 14px;
  border-radius: 12px;
  background: colors.$white;
  color: colors.$textPrimary;
  border: none;
  &.disabled {
    color: colors.$greyMedium;
  }
  &.primary {
    background-color: colors.$primary;
    color: colors.$white;
  }
  &.grey {
    background-color: colors.$greyMedium;
  }
  &.secondary {
    color: colors.$primary;
    background-color: colors.$secondary;
  }
}
.dark {
  .button {
    background: colors.$dark_white;
    color: colors.$dark_textPrimary;
    &.disabled {
      color: colors.$dark_greyMedium;
    }
    &.primary {
      background-color: colors.$dark_primary;
      color: colors.$white;
    }
    &.grey {
      background-color: colors.$dark_greyMedium;
    }
    &.secondary {
      color: colors.$dark_primary;
      background-color: colors.$dark_secondary;
    }
  }
}