@use '../../../assets/styles/colors';

.calculatorKeyboardWrapper {
  max-height: 450px;
  max-width: 600px;
  .calculatorKeyboard {
    padding: 16px;
    border-radius: 16px 16px 0 0;
    background-color: colors.$greyLight;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4px;
    .button {
      aspect-ratio: 2;
      margin: 6px;
      font-size: 28px;
      font-weight: 500;
    }
  }
  .useKeyboardDesc {
    display: none;
  }
  @media (min-height: 850px) {
    .calculatorKeyboard {
      border-radius: 16px;
    }
    .useKeyboardDesc {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
      color: colors.$textSecondary;
      .separator {
        width: 100%;
        height: 1px;
        background-color: colors.$textSecondary;
      }
      .text {
        white-space: nowrap;
        font-size: 16px;
      }
    }
  }
}
.dark {
  .calculatorKeyboardWrapper {
    .calculatorKeyboard {
      background-color: colors.$dark_greyLight;
    }
  }
  @media (min-height: 800px) {
    .useKeyboardDesc {
      color: colors.$dark_textSecondary;
      .separator {
        background-color: colors.$dark_textSecondary;
      }
    }
  }
}
