$primary : #0058F9;
$secondary : #E6EEFE;
$secondaryMedium : #CCDDFF;
$secondaryDark : #92B6FF;
$white : #FFFFFF;
$greyLight : #F9F9F9;
$greyMedium : #ECECEC;
$textSecondary : #909090;
$textPrimary : #2D2D2D;

$dark_primary : #FE7D4F;
$dark_secondary : #FFE9DF;
$dark_secondaryMedium : #FFD9CC;
$dark_secondaryDark : #FFA688;
$dark_white : #000000;
$dark_greyLight : #202020;
$dark_greyMedium : #2D2D2D;
$dark_textSecondary : #909090;
$dark_textPrimary : #EFEFEF;